/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


  .navbar-top {
  background: #110031 !important;
  height: 10px;

}

  .navbar-inner {
  padding-top:-5px;
  text-align:center;
  background: #110031 !important;
  height: 30px;
}

h3{
  text-align:center; 
  font-size: 20px;
  font-weight: 200;
  color: black;

}

.link{
   text-align:center; 
   font-size: 20px;
   font-weight: 200;	
   color: black;
  }

a{
  color: green;
}

#top-menu{
  width: 1250px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.brand{
  background-size: 100%;
  width: 90px;
  height: 115px;
  margin-top: 10px;
}
 .navbar {
  width: 100%;
}
.navbar .brand {
  margin-left: 100px;
}

.nav-top > li > a {
  text-align:center;
  background: white !important;
  height: 30px;
  color:  black;
  text-shadow:none;
  font-size: 18px;
}

.navbar .nav.pull-right > li > a {
  float:left;
  display:inline; 
  vertical-align: top;
  margin-left: 3px;
  margin-top: -1px;
  font-size:14px;
  font-weight:bold;
  background-color: white;
  color: black; 
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;    
  font-weight: 100;
                               /* nav right */
} 

.navbar .nav {
  margin-left: 70px;
}

.navbar .nav > li > a {
  color:#fff;
  text-shadow:none;
  z-index: 1;
  margin-top: 30px;
}

